font-family: 'Source Serif Pro', serif;
#one {
  height: 200px;
}

#two {
  height: 200px;
}

#third {
  height: 200px;
}

#fourth {
  height: 200px
}

#fifth {
  height: 200px
}

#sixth {
  height: 200px
}

#seventh {
  height: 200px
}
#h1{
  font-size: 60px;
}
#badge{
  border-radius: 70%;
}
#eighth {
  height: 200px
}

#ninth {
  height: 200px
}

#hgirl {
  height: 200px
}
.posts{
  padding-top: 30%;
}
#table {
  position: absolute;
  background: #ddd;
  border: solid #999;
  box-shadow: 0 0 5 3px #ccc;
  height: 150px;
  width: 300px;
  text-align: center;
}
#logo{
  height: 200px;
    width: 50%;
}
.img {
  border-radius: 50%;
}

#info {
  font-size: 20px;
}
p{
  font-size: 25px;
}
#social{
  width: 200px;
  float: right;
}
